* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
}

.container {
    width: 350px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px; 
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 10px 10px  black;
    gap: 1rem;
}
.container .imgbox img {
    width: 100%;
    border-radius: 8px;
}

.container .boxtext {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.boxtext span {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    border-radius: 8px;
    padding: 10px;
    font-weight: 800;
}

.boxtext #Published {
    font-weight: 600;
}

.boxtext h3 {
    font-weight: 800;
}

.boxtext #text {
    font-size: 15px;
    color: hsl(0, 0%, 50%);
    font-weight: 400;
}

.boxtext .avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
    margin: 6px;

}

.boxtext .avatar img {
    height: 26px;
    margin-right: 8px;
}